:root {
  //accent
  --primary-color-100: #73a5ff;
  --primary-color-300: #4c8dff;
  --primary-color-500: #397df6;
  --primary-color-700: #2f68cc;
  --primary-color-900: #234e99;

  //success
  --success-color-100: #80ffbf;
  --success-color-300: #22e584;
  --success-color-500: #14cc70;
  --success-color-700: #0f9954;
  --success-color-900: #0a6638;

  //danger
  --danger-color-100: #ff8099;
  --danger-color-300: #f23d61;
  --danger-color-500: #cc1439;
  --danger-color-700: #990f2b;
  --danger-color-900: #660a1d;

  //warning
  --warning-color-100: #ffd073;
  --warning-color-300: #e5ac39;
  --warning-color-500: #d99000;
  --warning-color-700: #960;
  --warning-color-900: #640;

  //dark
  --dark-color-100: #4c4c4c;
  --dark-color-300: #333;
  --dark-color-500: #171717;
  --dark-color-700: #0d0d0d;
  --dark-color-900: #000;

  //light
  --light-color-100: #fff;
  --light-color-300: #f7fbff;
  --light-color-500: #edf3fa;
  --light-color-700: #d5dae0;
  --light-color-900: #8d9094;
}
